.body
{
  width: 100%;
  height: 100%;
}

.v2_qfntgo-img {
  width: 540px;
  height: 220px;
}
.top-header {
  justify-content: flex-start;
}
.main-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 90%;
  background-color:transparent;
  margin: 0;
  
}

.main-container .left {
  /* align-self: flex-end; */
  /* display:inline-block; */
  margin-top: 22%;
}
.main-container .right {
  padding: 0 200px;
  text-align: center;
  
}
.main-container .right .title {
  font-weight: 400;
  font-size: 48px;
  color: rgb(130, 123, 123);
}
.main-container .icon-box {
  margin: 50px 0 30px;
  text-align: center;
}
.main-container .icon-box .iconfont {
  color: #827b7b;
  font-size: 35px;
  margin-right: 20px;
}
.main-container .login-tip {
  font-weight: 400;
  font-size: 16px;
  color: rgba(170, 170, 170, 1);
  margin: 20px 0;
}
.main-container .input-box {
  background-color:transparent;
  border-radius: 50px;
  border: 1px solid white;
  width: 400px;
  height: 55px;
  line-height: 55px;
  color: #827b7b;
  text-align: left;
  padding: 0 30px;
  margin: 20px auto;
  display: flex;
}
.main-container .input-box input {
  width: 90%;
  border: none;
}
.main-container .input-box input:focus {
  border: none !important;
}
.main-container .input-box .iconfont {
  color: #827b7b;
  font-size: 35px;
  margin-right: 20px;
}
.main-container .right .forget-text {
  font-size: 16px;
  color: rgba(130, 123, 123, 1);
  margin: 20px 0;
}
.main-container .right .btn-group {
  margin: 40px 0;
}
.main-container .right .btn-group button {
  width: 203px;
  height: 55px;
  background-color:transparent;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 18px;
  margin-right: 20px;
}
.main-container .right .btn-group button a {
  color: rgb(255, 255, 255);
}
.change-tip{
  width: 240px;
  position: absolute;
  bottom:90%;
  right: 0;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  /* color: #fff; */
  text-align: left;
}
.fa-facebook ,.fa-instagram ,.fa-google
{
  font-size:38px; 
  margin:15px;
}

.fa-user-circle, .fa-unlock-alt
{
  font-size:26px; 
  margin-top:15px;
  margin-right:25px;

}

